

.navbar-nav .nav-link {
    color: #42ed13 !important;
}

.navbar-nav .nav-link:hover {
    color: #ed1337 !important;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../portfolio/image1.jpg');
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}